<div class="page-header">
	<h1><%= @family.name %>'s Comments</h1>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Comment</th>
			<th><%=t '.actions', default: t("helpers.actions")%></th>
		</tr>
	</thead>
	<tbody id="comments">
		<% @comments.each do |comment| %>
			<%= render "comment", {comment: comment} %>
		<% end %>
	</tbody>
</table>

<%- flash.each do |key, msg| -%>
  <div id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<%- end -%>


<%= link_to t('.new', :default => "New Comment"),
            new_family_comment_path,
            :class => 'btn btn-primary new-family-comment', id: "new-family-comment"%>