<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @comment.value %>
</p>

<p>
  <b>Family:</b>
  <%= @comment.family %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
