<%= form_for(@person, :url=>{:action=>"update"}) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :middleName %><br />
    <%= f.text_field :middleName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :nickName %><br />
    <%= f.text_field :nickname %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday %>
  </div>
  
  <%if false%>
  <div class="field">
    <%= f.label :emails %><br />
    <%= f.text_field :emails %>
  </div>
  <div class="field">
    <%= f.label :phoneNumbers %><br />
    <%= f.text_field :phoneNumbers %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </div>
  <%end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
