<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @person.firstName %>
</p>

<p>
  <b>Middlename:</b>
  <%= @person.middleName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @person.lastName %>
</p>

<p>
  <b>Family:</b>
  <%= @person.family %>
</p>

<p>
  <b>Emails:</b>
  <%= @person.emails %>
</p>

<p>
  <b>Phonenumbers:</b>
  <%= @person.phoneNumbers %>
</p>

<p>
  <b>Tags:</b>
  <%= @person.tags %>
</p>

<p>
  <b>Birthday:</b>
  <%= @person.birthday %>
</p>

<p>
  <b>Date deleted:</b>
  <%= @person.date_deleted %>
</p>

<p>
  <b>Is deleted:</b>
  <%= @person.is_deleted %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
