<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @person.firstName %>
</p>

<p>
  <b>Middlename:</b>
  <%= @person.middleName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @person.lastName %>
</p>

<p>
  <b>Family:</b>
  <%= @person.family %>
</p>

<p>
  <b>Emails:</b>
  <%= @person.emails %>
</p>

<p>
  <b>Phonenumbers:</b>
  <%= @person.phoneNumbers %>
</p>

<p>
  <b>Tags:</b>
  <%= @person.tags %>
</p>

<p>
  <b>Birthday:</b>
  <%= @person.birthday %>
</p>

<%= link_to 'Update', edit_family_person_path(@family,@person) %> |
<%= link_to 'Back', person_path %>

