 <tr>
    <%= simple_form_for(family, :html => {:class => 'form-horizontal' }) do |form|%>
        <td><%= best_in_place family, :name %></td>
        <td><%= render "inline_addresses", {family: family, form: form} %></td>
        <td><%= render "inline_phone_numbers", {family: family, form: form} %></td>
        <td><%= family.updated_at %></td>
        <td><%= render "anniversary", {family: family} %></td>
        <td><%= render "inline_comments", {family: family, form: form} %></td>
        <td>
            <%= link_to "Full View", family_path(family), class: "btn btn-mini btn-info" %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        family_path(family),
                        method: :delete,
                        data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                        class: 'btn btn-mini btn-danger' %>
        </td>
    <% end %>
</tr>