<%= simple_form_for @family, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :comments_id %>
  <%= f.input :families_id %>
  <%= f.input :addresses_id %>
  <%= f.input :tags_id %>
  <%= f.input :anniversary %>
  <%= f.input :phoneNumbers_id %>
  <%= f.input :date_deleted %>
  <%= f.input :is_deleted %>
  <%= f.input :name %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                families_path, :class => 'btn' %>
  </div>
<% end %>
