<%- model_class = Family -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:comments_id) %></th>
      <th><%= model_class.human_attribute_name(:addresses_id) %></th>
      <th><%= model_class.human_attribute_name(:anniversary) %></th>
      <th><%= model_class.human_attribute_name(:phoneNumbers_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody id="families">
    <% @families.each do |family|%> 
      <%= render "family", {family: family} %>
    <% end %>
  </tbody>
</table>

<%- flash.each do |key, msg| -%>
  <div id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<%- end -%>


<%= link_to t('.new', :default => "New Family"),
            new_family_path,
            :class => 'btn btn-primary new-family', id: "new-family"%>
