<%- model_class = Family -%>
<div class="page-header">
  <h1><%= best_in_place @family, :name %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:comments_id) %>:</strong></dt>
  <dd><%= render "partials/collection_list", {collection: @family.comments} %></dd>
  <dt><strong><%= model_class.human_attribute_name(:addresses_id) %>:</strong></dt>
  <dd><%= render "address_list", {family: @family, addresses: @family.addresses} %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anniversary) %>:</strong></dt>
  <dd><%= render "anniversary", {family: @family} %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phoneNumbers_id) %>:</strong></dt>
  <dd><%= render "partials/collection_list", {collection: @family.phone_numbers} %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
  <dd><%= @family.updated_at %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              families_path, :class => 'btn'  %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              family_path(@family),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
