<%- model_class = PhoneNumber -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th><%=t '.actions', default: t("helpers.actions")%></th>
    </tr>
  </thead>
  <tbody id="phone-numbers">
    <% @phone_numbers.each do |phone_number| %>
      <%= render "phone_number", {phone_number: phone_number} %>
    <% end %>
  </tbody>
</table>

<%- flash.each do |key, msg| -%>
  <div id="<%= key %>">
    <p style="float:right;"><%= link_to_function 'X', "Effect.Fade('#{key}')" %></p>
    <p><%= msg %></p>
    <div class="clear"></div>
  </div>
<%- end -%>

<%= link_to t('.new', :default => "New Phone Number"),
            @new_path,
            :class => 'btn btn-primary new-phone-number', id: "new-phone-number"%>