<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @tag.value %>
</p>

<p>
  <b>Family:</b>
  <%= @tag.family %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
