<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @email.value %>
</p>

<p>
  <b>Person:</b>
  <%= @email.person %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
